p {
    color: red;
    width: 500px;
    border: 1px solid green;
}

h1 {
    font-size: 60px;
    text-align: center;
    border: 0.5rem outset  pink;
    outline: 0.5rem solid khaki;
    border-radius: 12px;
    outline-offset: 0.5rem;
    box-shadow: 0 0 0 2rem skyblue;
    padding: 1rem;
    margin: 2rem;
      
  }
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  body {
    width:600px;
    margin: 0 auto;
    border: 5px solid black;
  }



  .photo img {

     border-radius: 1.75vw;
     width: 50%;
     height: 50%;
     outline: red solid 2vw;
     /*border: solid;
     border-width: 2vw;
     border-color: red;*/
     
  }

#name {
  position: relative;
  width: 500px;
  height: 300px;
  background: green;  /*overlays the pretty gradient box to make fake border*/
  margin: 10px;  /*match the two margin/neg margins*/
  border-radius: 5px;
}

#innername {
  position: absolute;
  content: "";
  inset: 0px 0px 0px 0px; 
  z-index: -1;   /*places behind object*/
  margin: -10px;  /*match with margin above*/
  border-radius: inherit;  /*lets you inherit radius*/
  background-image: linear-gradient(45deg, purple, orange);
     /*
  top: 0;     /*these are how far off the relative positioned element 
  right: 0;
  bottom: 0;     inset is shorthand for top right bottom left
  left: 0;*/
}
